h1, h2, h3, p, a, img{padding:0; margin:0; text-decoration:none; border:none}
ul, li{list-style-type:none; padding:0; margin:0;}

#wrapper{width:1000px; font-family: 'arial'; font-size:12px; margin:0 auto; background:#fff; position: relative;}
h1{margin-bottom:15px; padding-bottom:10px; float: left;}
h1 span{background:#ec7e1f; color:#fff; position:relative; font-weight: normal; display:block; font-size: 12px; padding:3px 4px; height:16px; margin-bottom:5px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior:url(css/pie.html);}
a.btn {background:#ec7e1f; font-size:14px; position:relative; color:#fff; padding:2px 8px; margin:0px 10px 10px 0; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior:url(css/pie.html);}
.sliderContent{ position:relative; height:249px; overflow: hidden; font-family: 'zurich_cn_btregular'; }
.sliderContent h1, .sliderContent img{ position:absolute;}
.sliderContent h1{color:#B02A30;font-size:46px; border:none; left:230px; top:50px; font-weight:normal;}
.sliderContent a#refer-btn{ margin:138px 0 0 230px; position:absolute;}
.bx-prev, .bx-next{display:none !important;}
.bx-pager{ position:absolute; right:50px; bottom: 10px;}
.bx-pager a{ float:left; margin:0px 2px; background-image:url(../images/banner_pagination.png);background-position:0px -19px; display:inline-block; text-indent: -9999px; width: 13px;}
.bx-pager a.pager-active{background-position:0px -1px !important;}
#tabs{width:985px; float: left; border-top:1px solid grey;}
#tabs .img-list li{width:132px; display:block; height:100px; float: left; position:relative; margin:8px 10px 0px 0px;}
#tabs .img-list li.last{margin-right:0; width:132px;}
#tabs .img-list li a{color:#000; text-align:center; display:inline-block; text-decoration:none; height:100px ;}
#tabs .img-list li a:hover h2{ color:#EC7E1F;}
/*
#tabs .img-list li a:hover img{ background:  url(../images/i_logo.png) no-repeat; }
*/
#tabs .img-list .orange-img-overlay{ background: #EC7E1F url(../images/i_logo.png) center center no-repeat; display:none; border-radius:5px; behavior:url(css/pie.html); height: 76px; opacity: 0.4; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter: alpha(opacity=40); position: absolute; top: 24px; width: 154px;}

#tabs .img-list li a.active{background:url(../images/img-over.png) no-repeat center bottom; padding-bottom:24px; z-index:10;}
#tabs .img-list li a img{background:#f4f4f4; width:132px; height:66px;}
#tabs .img-list li h2{font-size:12px; font-weight:normal; text-align: left; width:132px; margin: 4px 0px;}
.tab-content{width:980px; float: left; display:none;}
.block{width:220px; height:200px; float: left; font-family: 'arial'; margin:15px 14px 0 0; padding-right:14px; border-right:1px solid #ccc;}
.block.last{margin-right:0; padding-right:0; border-right:none;}
.block h3{background:#ec7e1f; color:#fff; position:relative; font-weight: normal; display:block; font-size: 12px; padding:3px 4px; width:100px; height:16px; margin-bottom:5px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior:url(css/pie.html);}
.grey-block{background:#f4f4f4; border:1px solid #ccc; height:45px; position:relative; width:200px; padding:5px; margin:0 0 15px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior:url(css/pie.html); font-size:11px;}
.grey-block p{ color:#000; padding-bottom:5px; clear:both}
.grey-block p a.orange-link{color:#ec7e1f; font-size:11px; text-decoration:underline; padding:0 25px 0 3px; background:url(../images/bg-a.gif) no-repeat right 2px;}
.grey-block p a{}
.grey-block p a:hover{ color:#EC7E1F;}
.main-tab1 {float: left; width:955px; position:relative; border:1px solid #ccc; margin-top:23px; background:#f4f4f4; clear:both; padding:10px;}
.close-this-tab-btn{ position:absolute; right:10px; top:10px;}
.tab1 {float: left; width:464px; border-right:1px solid #ccc; margin:0 15px 0 0;}
.last{border-right:none; padding-right:0; margin-right:0;}
.tab1 h3 {color:#3a3a3a; font-size:16px; margin-bottom: 8px;}
.tab1 p {color:#3a3a3a; font-size:12px; margin-bottom:10px; }
.tab1 h4 {clear:both; color:#943a43; font-size:14px; margin-bottom:10px; padding-left:12px; background:url(../images/bg-h4.gif) no-repeat 3px 3px;}
.tab1 .inner-list1{float:left; width:440px; margin-bottom:10px; clear:both}
.tab1 .inner-list1 li {display:block; background:url(../images/list-style.gif) no-repeat 3px 1px; font-size:11px; color:#a0a0a0; padding:3px 0 10px 25px; clear:both;}
.tab1 a{color: #3A3A3A; font-size:12px;}
.tab1 a.btn {background:#BE242C; display:inline-block; float:left; color:#fff; padding:4px 10px; margin:0px 10px 10px 0; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior:url(css/pie.html);}
#tabs-7 .inner-list1 li{ background-image:url(../images/pay-online-sprite.png); background-repeat: no-repeat; background-position:0 0;}
#tabs-7 .inner-list1 li.quick-pay{background-position: 0 0;}
#tabs-7 .inner-list1 li.click-2-pay{background-position: 0 -47px;}
#tabs-7 .inner-list1 li.statement{background-position: 0 -96px;}
#tabs-7 .inner-list1 li.download{background-position: 0 -147px;}
#tabs-7 .inner-list1 li.online-recharge{background-position: 0 -199px;}

.dropDown li{ margin:4px 0px; height:16px;}
.dropDown li a{ color:#666; }
.dropDown li a:hover{ color:#EC7E1F; }
.inner-list2{float:left; width:205px;}
.inner-list2 li{display:block; border-bottom:1px solid #ccc; height: 22px; width: 195px; padding-top:8px; margin-bottom:12px;}
.inner-list2 li a {color: #666666; text-decoration:none; width:190px; display:inline-block;}
.inner-list2 li a:hover{background:url("../images/thick-pointer.png") no-repeat right center;}
#icon-list li{background:url(../images/list-icon.gif) no-repeat left top; padding-left:28px; width: 165px;}
#icon-list li a{ width:160px;}
#icon-list li.icon1{background-position:0 2px}
#icon-list li.icon2{background-position:0 -42px}
#icon-list li.icon3{background-position:0 -86px}
#icon-list li.icon4{background-position:0 -128px}


.login-to{position:absolute; left:30px; top:26px; width:157px; background:#fff; float:left; margin-bottom:10px;  font-family:Arial, Helvetica, sans-serif;}
.login-to h2{color:#636363; background:#F2F5ED; height:24px; padding:10px 0 10px 10px; width:150px;}
.login-to h2 span{background:url(../images/login-to.gif) no-repeat left top; float:left; height:22px; padding:2px 0px 0px 20px;}

.login-list{float:left; clear:both; width:130px; margin:10px 15px 10px; border-bottom:1px solid #ccc; padding-bottom:8px;}
.login-list li{background:url(../images/icon-login-list.gif) no-repeat left 3px; color:#636363; padding-left:0px; margin:0px 0px 3px 8px;}
.login-to a{padding:0 0 0 3px; display:inline-block; color:#636363; font-size:11px;}
/* TAB
----------------------------------*/
.ui-helper-hidden {display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

input.searchBtn{ font-family: 'arial'; border:none !important; background:none !important; color:#666666;}
a.searchDropBtn{width: 33px; height:42px; display: inline-block; float: left;}
a.searchDropBtn img{border:none;}



