 
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w122{width:122px;}
.w120{width:120px;}
.w125{width:125px;}
.w130{width:130px;}
.w140{width:140px;}
.w155{width:155px;}
.w160{width:158px;}
.w180{width:180px;}
.w215{width:215px;}
.w205{width:205px;}
.w250{width:250px;}
.w280{width:280px;}
.w300{width:300px;}
.w330{width:340px;}
.w440{width:440px;}	
.w570{width:570px;}
.w138{width:138px;}



.inputsearchBox{ margin:0px ; padding:0px;}
.btnGhalf{background:url('../images/button_shed_L.gif') no-repeat;float:left;background-position: left top;width:85px; height:21px; border:0px!important; padding:0px 10px 0px 10px;#padding:3px 10px 0px 10px;padding /*\**/: 3px 10px 0px 10px\9; margin:0px; font-size:11px;}
.btnGhalf2{float:left;background-position: left top; width:80px; height:18px; #height:14px;height /*\**/:17px\9; padding:0px 0px 0px 0px; #padding:0px 10px 0px 0px;padding /*\**/: 0px 0px 0px 0px\9; margin:0px; font-size:11px;}
.inputsearch{ background-image:url('../images/button_shed_R.gif'); background-position: right 0px; background-repeat: no-repeat; width:12px;height:21px;}
span.dropblueBtn{background:url('../images/bt_blue_left.png') no-repeat;height: 23px;padding-left: 10px;float:left;background-position: 0px 0px;}
a:hover.dropblueBtn{text-decoration:none; }
a.dropblueBtn {display:block;background:url('../images/bt_orange_right.png') right no-repeat;padding:3px 10px 0px 5px;margin-right: 0px;height:23px;float:left;color:#fff!important;
	font-weight:bold; font-size:12px;background-position: right 0px;}
	



.leadformBoxNew{ border:1px solid #D6D6D6; margin:8px 0px 0px 0px;  background-color:#FFF; width:310px; padding:7px; font-size:11px; background-color:#FBFCFD;}


