

* {
	outline: none;
	padding: 0;
	margin: 0;
}

/* Clear Fixes */

.clearfix {
	display: block;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clear {
	clear: both;
	font-size: 1%;
	height: 1%;
	line-height: 0;
}


/******** Choose a Product *********/

div.choose_product {
	font-family: Arial, Helvetica, sans-serif;
	width: 581px;
}

div.choose_product h3 {
	color: #AF2A30;
	font-size: 1.4em;
	text-align: left;
}

div.choose_product h3.buttons {
	padding: 10px 0;
	margin: 0;
}

div.choose_product h3 p {
	font-weight: normal;
	font-size: 0.8em;
	padding: 10px 0 10px 95px;
	width: 400px;
}

div.choose_product h3 img {
	margin: 0 10px 0 0;
}

div#result1 h3 {
	padding-bottom: 0px;
	margin-top: -10px;
}

div.choose_product div#result1 h3.buttons, div.choose_product div#result h3.buttons {
	padding: 10px 0;
	margin: 0;
}

div.choose_product h3 span a {
	color: #ed1c24!important;
}

h3 span#resultText1, h3 span#resultText {
	color: #ed1c24!important;
}

div#result1 h3#resultText1 {
	margin: 0;
}

div.choose_product h3#resultText1 {
font-size:1.2em;
font-weight:normal;
padding:0 85px;
width:405px;
}


div.choose_product input {
	float: left;
	margin: 1px 5px 0 13px;
	_margin: -3px 5px 0 13px;
	*margin: -3px 5px 0 13px;
	border: none;
	vertical-align: bottom;
}


div.choose_product p {
	
	color: #000000;
	font-size: 1.2em;
}

div.step1 {
	background: url(../images/bg_step1.gif) no-repeat 0 0;
	padding: 15px 0 0 25px;
	height: 115px;
	width: 561px;
}

div.firststep {
	padding: 0 0 0 60px;
}

div.step2 {
	background: url(../images/bg_step2.gif) no-repeat 0 0;
	padding: 5px 5px 0 40px;
	height: 95px;
	width: 556px;
}

div#sa h3 {
	padding-bottom: 0;
	width: 541px;
}

div#dep div.row1 {
	padding: 0 0 0 150px;
}

div#repa div.row1 {
	padding: 0 0 0 100px;
}

div#repa div.row2 {
	padding: 2px 0 2px 150px;
}

div#repa div.row3 {
	padding: 0 0 0 160px;
}

div.step3 {
	background: url(../images/bg_step3.gif) no-repeat 0 0;
	padding: 8px 0 0 52px;
	height: 92px;
	width: 561px;
}

div.step4 {
	background: url(../images/bg_step4.gif) no-repeat 0 0;
	padding: 15px 0 0 62px;
	height: 79px;
	width: 561px;
}

div.step4 h3 {
	padding: 0 0 7px;
}

div.step5 {
	background: url(../images/bg_step5.gif) no-repeat 0 0;
	padding: 15px 0 0 69px;
	height: 78px;
	width: 581px;
}

div.step6 {
	background: url(../images/bg_step6.gif) no-repeat 0 0;
	padding: 5px 0 0 85px;
	height: 134px;
	width: 581px;
}

div.step7 {
	background: url(../images/bg_step7.gif) no-repeat 0 0;
	padding: 5px 0 0 64px;
	height: 134px;
	width: 581px;
}

div.step7_new {
	background: url(../images/bg_step8.gif) no-repeat 0 0;
	padding: 5px 0 0 64px;
	height: 154px;
	width: 581px;
}

/*div.step7 {
	background: url(../images/bg_step7.gif) no-repeat 0 0;
	padding: 20px 0 0 0;
	height: 88px;
	width: 581px;
}*/

div.results {
	background: url(http://www.icicibank.com/sitemap.page) no-repeat 0 0;
	padding: 20px 0 0 20px;
	height: 61px;
	width: 561px;
}

div.reset {
	background: url(http://www.icicibank.com/sitemap.page) no-repeat 0 0;
	height: 37px;
	width: 581px;
	text-align: center;
}

div.step5_4 {
	background: url(../images/bg_step5_4.gif) no-repeat 0 0;
	height: 36px;
	width: 581px;
	text-align: center;
}

div.reset p {
	float: none;	
}

a.resetlink {
	background: url(http://www.icicibank.com/sitemap.page) no-repeat 270px 5px;
	color: #AF2A30;
	display: block;
	float: none;
	font-weight: bold;
	padding: 0 0 0 15px;
}

div.reset p a:hover {
	text-decoration: none;
}

div.steps {
	text-align: center;
	height: 50px;
	width: 581px;
}

div.steps p {
	color: #AF2A30;
	float: none;
	font-size: 1.2em;
	font-weight: bold;
	padding: 15px 0 0 0;
}

div.steps p a, div.reset p a, div.step7_4 p a {
	color: #AF2A30;
	cursor: pointer;
}

div.steps p a:hover, div.reset p a:hover, div.step7_4 p a:hover {
	text-decoration: none;
}

div#step1_4 {
	background: url(../images/bg_step1_4.gif) no-repeat 0 0;
}

div#step2_4 {
	background: url(../images/bg_step2_4.gif) no-repeat 0 0;
}	

div#step3_4 {
	background: url(../images/bg_step3_4.gif) no-repeat 0 0;
}	

div#step4_4 {
	background: url(../images/bg_step4_4.gif) no-repeat 0 0;
}

div#step5_4 {
	background: url(../images/bg_step5_4.gif) no-repeat 0 0;
	height: 50px;
	text-align: center;
	width: 581px;
}

div#step6_4 {
	background: url(../images/bg_step6_4.gif) no-repeat 0 0;
	height: 50px;
	text-align: center;
	width: 581px;
}

div.step7_4 {
	background: url(http://www.icicibank.com/sitemap.page) no-repeat 0 0;
	height: 50px;
	text-align: center;
	width: 581px;
}

div#step5_4 p, div.step7_4 p {
	float: none;
}

div#sa div.row1 {
	padding: 0 0 0 70px;
}

div#sa div.row2 {
	padding: 0 0 0 10px;
}

div#sa div.row3 {
	padding: 0 0 0 50px;
}

div#sa div.row4 {
	padding: 0 0 0 40px;
}	

div#fd h3 {
	padding: 10px 0;
}

div#fd div.row1 {
	padding: 5px 0 0 80px;
}

div#long div.row1 {
	padding: 0 0 0 115px;
}

div#long div.row2 {
	padding: 3px 0 0 125px;
}

div#impo div.row1 {
	padding: 0 0 0 65px;
}

div#impo div.row2 {
	padding: 3px 0 0 95px;
}

div#tm div.row1 {
	padding: 0 0 0 0px;
}	

div#tm div.row2 {
	padding: 8px 0 0 145px;
}

div#tmOpts div.row1, div#tmOpts1 div.row1 {
	padding: 0 0 0 85px;
}

div#rep div.row1 {
	padding: 0 0 0 75px;
}

div#rep h3 {
	padding-bottom: 5px;
}

div#rep div.row2 {
	padding: 7px 0 0 4px;
}

div#howImp div.row1 {
	padding: 0 0 0 50px;
}	

div#howImp div.row2 {
	padding: 8px 0 0 75px;
}

div#jh div.row1 {
	padding: 0 0 0 225px;
}

div#tmRemi h3 {
	padding-bottom: 3px;
}

div#tmRemi div.row1 {
	padding: 0 0 0 160px;
}

div#tmRemi div.row2 {
	padding: 0 0 0 135px;
}

div#tmRemi div.row3 {
	padding: 0 0 0 140px;
}

div#tmRemi1 h3 {
	padding-bottom: 3px;
}

div#tmRemi1 div.row1 {
	padding: 0 0 0 160px;
}

div#tmRemi1 div.row2 {
	padding: 0 0 0 135px;
}

div#tmRemi1 div.row3 {
	padding: 0 0 0 140px;
}
div#jhY div.row1 {
	padding: 0 0 0 130px;
}

/******** /Choose a Product *********/

a{ cursor:pointer;}


/******** /Face book share Test start here *********/

.fb_edge_comment_widget {
  display: none !important;
}

/******** /Face book share Test Eng here  *********/




